<%= render 'layouts/header1',q: @q  %>

<h1>ユーザ情報編集ページ</h1>

<%= form_for(@user) do |f| %>

    <div class="form-group">
				<%= f.label :surname, '姓' %>
				<%= f.text_field :surname %>
		</div>

		<div class="form-group">
				<%= f.label :firstname, '名' %>
				<%= f.text_field :firstname %>
		</div>

    <div class="form-group">
				<%= f.label :kana_surname, 'カナ姓' %>
				<%= f.text_field :kana_surname %>
		</div>

		<div class="form-group">
				<%= f.label :kana_first_name, 'カナ名' %>
				<%= f.text_field :kana_first_name %>
		</div>

		<div class="form-group">
				<%= f.label :email, 'メールアドレス' %>
				<%= f.text_field :email %>
		</div>

		<div class="form-group">
				<%= f.label :phone_number, '電話番号' %>
				<%= f.text_field :phone_number %>
		</div>

		<div class="form-group">
				<%= f.label :zip_code, '郵便番号' %>
				<%= f.text_field :zip_code %>
		</div>

		<div class="form-group">
				<%= f.label :address, '住所' %>
				<%= f.text_field :address %>
		</div>

		<p>パスワード<p>



   <%= f.submit "変更を保存", class:"btn btn-lg btn-block btn-base-1 mt-20" %>
<% end %>
