<%= render 'layouts/header1' %>

<p>購入情報確定</p>
<table>
	<thead>
		<tr>
			<th>商品名　</th>
			<th>枚数　</th>
			<th>購入価格　</th>
		</tr>
	</thead>
	<tbody>
		<% @purchases.each do |purchase| %>
			<% purchase.purchase_products.each do |purchase_product| %>
			<tr>
				<td><%= purchase_product.product.product_name %></td>
				<td><%= purchase_product.quantity %></td>
				<td><%= purchase_product.price %></td>
			</tr>
			<p>合計</p>
			<p><%= purchase_product.quantity*purchase_product.price %></p>
			<% end %>
		<% end %>
	</tbody>
</table>

<p>決済方法</p>


