<h1>マスター登録</h1>
<!-- 
<% @labels.each do |label| %>
     <p><%= label.label_name %></p>
<% end %>
 -->
<% if flash[:test] %>
    <%= flash[:test] %>
<% end %>



<!-- form_for部分 -->
<%= form_for(@label, url: admin_master_registration_path, method: :post) do |f| %>

    <h4>レーベル名</h4>
    <%= f.text_field :label_name %>

    <%= fields_for(@genre) do |j| %>
        <h4>ジャンルID</h4>
        <%= j.text_field :genre_name %>
    <% end %>

    <%= fields_for(@artist) do |a| %>
        <h4>アーティストID</h4>
        <%= a.text_field :artist_name %>
    <% end %>

    <%= f.submit '保存' %>

<% end %>
