<%= render 'layouts/header2' %>

<br>

<h1>商品詳細ページ</h1>
	<!-- 商品画像 -->
	<%= attachment_image_tag @product, :image, :fill, 60, 60, format: 'jpeg' %>

	<!--  商品名 -->
    <h3><%= @product.product_name %></h3>

    <!-- アーティスト名 -->
    <h3><%= @product.artist.artist_name %></h3>

    <!-- レーベル -->
    <h3><%= @product.label.label_name %></h3>

    <!-- 価格 -->
    <h3><%= @product.price %></h3>

    <% @product.discs.each do |disc| %>
        <h3><%= disc.disc_name %></h3>
        <% disc.songs.each do |song| %>
            <h5><%= song.song_name %></h5>
        <% end %>
    <% end %>

<%= link_to "商品編集", edit_admin_product_path(@product.id) %>