<h1>商品詳細ページ</h1>



	<!-- 商品画像 -->
	<%= attachment_image_tag @products, :image, :fill, 60, 60, format: 'jpeg' %> 

	<!--  商品名 -->
    <%= @products.product_name %>

    <!-- アーティスト名 -->
    <%= @products.artist_id %>

    <!-- レーベル -->
    <%= @products.label_id %>
    
    <!-- ステータス -->
    <%= @products.status %>

    <!-- 価格 -->
    <%= @products.price %>
    

<%= link_to "商品編集", edit_admin_product_path(@products.id) %>
<p>ディスク１</p>