<%= render 'layouts/header2' %>
<%= form_for(@user, url: admin_user_path, method: :patch) do |f| %>


<!-- 性 -->
  <div class="form-group has-icon">
        <label class="control-label sr-only" for="inputName">姓</label>
        <%= f.text_field :surname, autofocus: true, class:"form-control", id:"inputSurname", placeholder:"山田"%>
        <span class="fa fa-user form-control-icon" aria-hidden="true"></span>
  </div>

<!-- 名 -->
  <div class="form-group has-icon">
        <label class="control-label sr-only" for="inputName">名</label>
        <%= f.text_field :firstname, autofocus: true, class:"form-control", id:"inputFirstname", placeholder:"太郎"%>
        <span class="fa fa-user form-control-icon" aria-hidden="true"></span>
  </div>

 <!-- 姓カナ -->
  <div class="form-group has-icon">
        <label class="control-label sr-only" for="inputName">カナ姓</label>
        <%= f.text_field :kana_surname, autofocus: true, class:"form-control", id:"inputKanasurname", placeholder:"ヤマダ"%>
        <span class="fa fa-user form-control-icon" aria-hidden="true"></span>
  </div>

<!-- 名カナ -->
  <div class="form-group has-icon">
        <label class="control-label sr-only" for="inputName">カナ名</label>
        <%= f.text_field :kana_first_name, autofocus: true, class:"form-control", id:"inputKana_first_name", placeholder:"タロウ"%>
        <span class="fa fa-user form-control-icon" aria-hidden="true"></span>
  </div>


<!-- メール -->
  <div class="form-group has-icon">
        <label class="control-label sr-only" for="inputName">メール</label>
        <%= f.text_field :email, autofocus: true, class:"form-control", id:"inputEmail", placeholder:"collect@collect.com"%>
        <span class="fa fa-user form-control-icon" aria-hidden="true"></span>
  </div>


<!-- 電話番号 -->
  <div class="form-group has-icon">
        <label class="control-label sr-only" for="inputName">電話番号</label>
        <%= f.text_field :phone_number, autofocus: true, class:"form-control", id:"inputPhone_number", placeholder:"000-0000-0000"%>
        <span class="fa fa-user form-control-icon" aria-hidden="true"></span>
  </div>

<!-- 郵便番号 -->
  <div class="form-group has-icon">
        <label class="control-label sr-only" for="inputName">郵便番号</label>
        <%= f.text_field :zip_code, autofocus: true, class:"form-control", id:"inputZip_code", placeholder:"000-0000"%>
        <span class="fa fa-user form-control-icon" aria-hidden="true"></span>
  </div>

  <!-- 郵便番号 -->
  <div class="form-group has-icon">
        <label class="control-label sr-only" for="inputName">住所</label>
        <%= f.text_field :address, autofocus: true, class:"form-control", id:"inputAddress", placeholder:"○○県○○市"%>
        <span class="fa fa-user form-control-icon" aria-hidden="true"></span>
  </div>

　<div class="form-group has-icon">
        <label class="control-label sr-only" for="inputPassword">パスワード</label>
        <%= f.password_field :password, autocomplete: "off", class:"form-control", id:"inputPassword", placeholder:"パスワード" %>
        <span class="fa fa-lock form-control-icon" aria-hidden="true"></span>
  </div>

  <div class="form-group has-icon">
        <label class="control-label sr-only" for="inputConfirmPassword">パスワード確認</label>
        <%= f.password_field :password_confirmation, autocomplete: "off", class:"form-control", id:"inputConfirmPassword", placeholder:"パスワード確認" %>
         <span class="fa fa-check-circle-o form-control-icon" aria-hidden="true"></span>
  </div>


  <div class="actions">
    <%= f.submit "確定" %>
  </div>
<% end %>
