<%= render 'layouts/header2' %>
<h1>ユーザマイページ</h1>


<div class="profile-container">
    <p><%= @user.surname%> <%= @user.firstname %>さん</p>
    <p><%= @user.email%></p>
    <p><%= @user.zip_code%></p>
    <p><%= @user.address%></p>


        <p><%= link_to "プロフィール編集", edit_admin_user_path(@user) %></p>

</div>

<%= link_to "購入履歴", "#" %>
<%= link_to "退会", user_registration_path, method: :delete,class: 'btn-sm btn-danger ',"data-confirm" => "本当に退会しますか？"%>
