<%= render 'layouts/header1' %>

<% if flash[:add_cart] %>
    <h3><%= flash[:add_cart] %></h3>
<% end %>
<br>
<% @products.each do |product| %>

    <table style="border: 2px black solid;">
        <tbody>
            <tr>
                <td>
                    <!-- 商品画像 -->
                    <%= link_to product_path(product.id) do %>
                        <%= attachment_image_tag product, :image, :fill, 60, 60, format: 'jpeg' %>
                    <% end %>
                </td>
            </tr>
            <tr>
                <td>
                    <!--  商品名 -->
                    <%= product.product_name %>
                </td>
            </tr>
            <tr>
                <td>
                    <!-- アーティスト名 -->
                    <%= product.artist_id %>
                </td>
            </tr>
            <tr>
                <td>
                    <!-- 価格 -->
                    <%= product.price %>
                </td>
            </tr>
            <tr>
                <td>
                    <!-- ステータス -->
                    <%if product.status %>
                        <h4>販売中</h4>
                    <% else %>
                        <h4>販売停止中</h4>
                    <% end %>
                </td>
            </tr>
            <tr>
                <td>
                    <% if user_signed_in? %>
                        <%= link_to "カートへ追加", user_carts_path(current_user, product_id: product.id), method: :post %>
                    <% end %>
                </td>
            </tr>
        </tbody>
    </table>
<% end %>


<%= link_to '商品詳細', product_path(@products) %>

