<h1>商品詳細ページ</h1>


<div class="shouArea clearfix">
    <div class="left cdImage">
        <!-- 商品画像 -->
    <%= attachment_image_tag @products, :image, :fill, 60, 60, format: 'jpeg' %> 
    </div>
    <div class="right cdImage">
        <!-- 商品画像 -->
        <p class="productTitle">
            <%= @products.product_name %>
        </p>
        <p class="productIntro">
            <%= @products.artist.artist_name %>
        </p>
        <p class="productIntro">
            <%= @products.genre.genre_name %>
        </p>
        <p class="productIntro">
            <%= @products.label.label_name %>
        </p>
        <p class="productPrice">
            <%= @products.price %>
        </p>
        <p>
            <%= form_for(@cart.quantity) do |f| %>
            <%= f.select :quantity, [1,2,3,4,5,6,7,8,9,10] %>
            <% end %>
        </p>
        <p>
            <% if @products.stock.count == 0 %>
            <p>売り切れ</p>
            <% end %>
        </p>
        <p>
            <!-- カートに追加ボタン-->
            <!--ボタンを押すとcarts#add_itemへとPOSTアクションを飛ばし、購入数と商品IDを飛ばしたあと、carts#showへとリダイレクトするようにする。 -->
        </p>
    </div>
</div>



<table>
    <tbody>
        <tr>
            <td><% @products.disc.each do |disc| %></td>
            <td><%= disc.disc_name %></td>
            <td><% @products.disc.song.each do |song| %></td>
            <td><%= song.song_name %></td>
        <% end %>
        <% end %>
    </tr>
</tbody>
</table>