
 <nav class="navbar navbar-inverse">
          <div class="container-fluid">
              <div class="navbar-header">
                  <%= link_to 'collect', admin_products_path %>
              </div>

              <ul class="nav navbar-nav navbar-right">
                  <% if admin_signed_in? %>
                        <p>今管理者でログインしています</p>
                        <li><%= link_to '新規追加', new_admin_product_path %></li>
                        <li><%= link_to 'ユーザ一覧',admin_users_path %></li>
                        <li><%= link_to '購入履歴', "#"%></li>
                        <li><%= link_to "管理者ログアウト", destroy_admin_session_path, method: :delete %></li>
                        <li>
                            <%= search_form_for q do |f| %>
                              <%= f.search_field :product_name_cont %>
 
                              <%= f.submit %>
                            <% end %>
                        </li>
                  <% else %>
                        <li><%= link_to '管理者サインアップ', new_admin_registration_path %></li>
                        <li><%= link_to '管理者ログイン', new_admin_session_path %></li>
                        <li>
                            <%= search_form_for q do |f| %>
                              <%= f.search_field :product_name_cont %>
 
                              <%= f.submit %>
                            <% end %>
                        </li>
                  <% end %>
              </ul>
          </div>
  </nav>