<!DOCTYPE html>
<html>
  <head>
    <title>Collect</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="slidemenu">
    	<ul class="nav navbar-nav navbar-right" data-hover="dropdown" data-animations="zoomIn fadeIn fadeInUp fadeIn">

		</ul>
	</div>

      

      <% if flash[:notice] %>
          <div class="flash">
              <%= flash[:notice] %>
          </div>
      <% end %>


	<%= yield %>

  </body>
</html>
